{
	"semi": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"trailingComma": "none",
	"plugins": ["@ianvs/prettier-plugin-sort-imports"],
	"importOrder": [
		"^react$",
		"^react-dom$",
		"^react-native$",
		"^react-router-dom$",
		"^expo(.*)$",
		"",
		"<THIRD_PARTY_MODULES>",
		"",
		"^[./]",
		"",
		"^@pages/(.*)$",
		"",
		"^@components/(.*)$",
		"^@libs/components/(.*)$",
		"",
		"^@hooks/(.*)$",
		"^@libs/hooks/(.*)$",
		"",
		"^@utils/(.*)$",
		"^@libs/utils/(.*)$",
		"",
		"^@theme/(.*)$",
		"",
		"^@styles/(.*)$",
		"",
		"^@t/(.*)$",
		"^@libs/types/(.*)$"
	]
}
