{
	"semi": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"trailingComma": "none",
	"plugins": [
		"@ianvs/prettier-plugin-sort-imports"
	],
	"importOrder": [
		"^react$",
		"^react-dom$",
		"^react-router-dom$",
		"",
		"<THIRD_PARTY_MODULES>",
		"",
		"^[./]",
		"",
		"^@pages/(.*)$",
		"",
		"^@components/(.*)$",
		"",
		"^@hooks/(.*)$",
		"^@utils/(.*)$",
		"",
		"^@types/(.*)$"
	]
}
