@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;

		font-family: "Lato", sans-serif;

		@apply bg-th-black;
	}

	body {
		@apply overscroll-y-none w-screen text-th-white bg-gradient-to-tr from-th-darker-blue to-th-black bg-no-repeat bg-fixed;
	}

	#root {
		@apply min-h-dvh max-w-app-container xs:mx-auto xs:border-x xs:border-th-green xs:border-opacity-5;
	}

	input {
		@apply outline-none;
	}
}
